.listItem {
  list-style: none;
  height: 200px;
  background-color: white;
}

.fakeHeight {
  height: 150px;
}

.content {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.info {
  padding: 25px;
}

.imageBlock {
  height: 100%;
  flex: 0 0 300px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
